{% extends "layout.html" %}
{% block body %}
	{% if session.logged_in %}
	<script>
		$(function() {
			$("#inTimeNow").click(function() {
				$('#inTimeTarget').val(Math.floor($.now()/1000));
			})
		});
		$(function() {
			$("#outTimeNow").click(function() {
				$('#outTimeTarget').val(Math.floor($.now()/1000));
			})
		});
	</script>
		<form action="{{ url_for('post_entry') }}" method=post class=add-entry>
			<dl>
				<dt>Time In:
				<dd><input type=text size=15 name=inTime id=inTimeTarget><button type=button id=inTimeNow>Now</button>
				<dt>Time Out:
				<dd><input type=text size=15 name=outTime id=outTimeTarget><button type=button id=outTimeNow>Now</button>
				<dt>Description of work:
				<dd><textarea name=desc rows=5 cols=40></textarea>
				<dd><input type=submit value=Punch>
			</dl>
		</form>
	{% endif %}
	<h2> Total Hours Worked
	{% if search_tag %}
		on {{ search_tag }}
	{% endif %}
	{% if month %}
		in {{ month }} {{ year }}
	{% endif %}
	 : {{ total_time }} 
	{% if search_tag or month %}
		<a href="{{ url_for('show_all_entries') }}">Show All</a>
	{% endif %}
	</h2>
	<ul class=entries>
		{% for entry in entries %}
			<li><h2>{{ entry.in_time|safe }} to {{ entry.out_time|safe }}, {{ entry.elapsed }} hours </h2><small><a href="/pc/edit/{{ entry.id }}">edit</a></small><br> {{ entry.desc|safe }}
		{% else %}
			<li><em>Get to work, lazy!</em>
		{% endfor %}
	</ul>
{% endblock %}

